{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-xs-0 col-sm-2 col-md-2 col-lg-3" style="margin-top: 50px"></div>

        <div class="jumbotron col-xs-12 col-sm-8 col-md-8 col-lg-6" style="margin-top: 50px">
            <form class="form-horizontal" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ form.non_field_errors }}

                {% for field in form %}
                    <div class="form-group">

                        <label class="col-sm-4 control-label">{{ field.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ field }}
                            {% for error in field.errors %}
                                <span id="helpBlock" class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>

                    </div>
                {% endfor %}

                    <div class="form-group" style="text-align: right">
                        <a class="btn btn-default" href="{% url 'homepage' %}" role="button">Cancel</a>
                        <button type="submit" class="btn btn-primary">Proceed to images upload...</button>
                    </div>
            </form>
        </div>

        <div class="col-xs-0 col-sm-2 col-md-2 col-lg-3" style="margin-top: 50px"></div>
    </div>
{% endblock %}

{% block customscript %}

    {#  Updates 'Series' dropdown depending on user selection in 'Manufacturers'  #}
    <script>
        $(document).ready(
            $('#id_make').change(function () {
                var makeId = $(this).val();
                $.ajax({
                    url: '{% url 'load_series' %}',
                    data: {'manufacturer_id': makeId},
                    success: function (data) {
                        $('#id_model').html(data);
                    }
                });
            })
        )
    </script>
{% endblock %}