 <div class="modal fade" id="user-edit-modal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" id="user-edit-body" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p>Edit user details</p>
                </div>
                <div class="modal-body" id="user-modal-container"></div>
                <div class="form-group">
                        <input class="btn btn-default" type="button" id="submit-button" value="Submit"/>
                </div>
            </div>

        </div>
    </div>

 <script>
     $('#submit-button').click(function () { // catch the form's submit event
            $.ajax({ // create an AJAX call...
                data: $('#my-form').serialize(), // get the form data
                type: 'post', // GET or POST
                url: '{% url 'load_user_modal' %}', // the file to call
                success: function (response) { // on success..
                    $('#user-modal-container').html(response);
                    console.log(response)
                }
            });
            return true;
        });
 </script>