<ul class="nav nav-tabs">
    <li role="presentation"><a href="#technical" aria-controls="technical" role="tab" data-toggle="tab">Technical Condition</a></li>
    <li role="presentation"><a href="#visual" aria-controls="visual" role="tab" data-toggle="tab">Visual Condition</a></li>
    <li role="presentation" class="active"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
    <li role="presentation"><a href="#ss" aria-controls="submit" role="tab" data-toggle="tab">Submit</a></li>
</ul>

<div class="tab-content" style="height: 30vh; margin-top: 30px">
    <div role="tabpanel" class="tab-pane" id="technical">Section to be filled</div>
    <div role="tabpanel" class="tab-pane" id="visual">Section to be filled</div>
    <div role="tabpanel" class="tab-pane active" id="comments"></div>
    <div role="tabpanel" class="tab-pane" id="ss">
        <div>Section to be filled</div>
        <button type="button" class="btn btn-primary" id="update-request">Submit inspection</button>
    </div>

</div>


<script>
    $(document).ready(function () {
        load_content('#comments', '{% url 'update_inspection_request' request_id %}', {})
    });

    $('#update-request').click(function () {
        submit_form('#comments', '{% url 'update_inspection_request' request_id %}', $('#submit_evaluation').serialize());
    });
</script>