{% extends 'base.html' %}
{% load static %}


{% block content %}

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'homepage' %}">Automobile Market</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <form class="navbar-form navbar-left">
                        <div class="input-group">
                            <input type="text" class="form-control" aria-label="..." placeholder="Search ...">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">Search by <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Make</a></li>
                                    <li><a href="#">Model</a></li>
                                    <li><a href="#">Production year</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                        </div><!-- /input-group -->
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>

                    <ul class="nav navbar-nav navbar-right">

                        {% if request.user.is_authenticated %}
                            <li><a>Viewing as {{ request.user }}</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">Your cockpit<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Account</a></li>
                                    <li><a href="{% url 'user_offers' %}">Your offers</a></li>
                                    <li><a href="{% url 'new_offer' %}">Create offer</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'logout' %}">Log out</a></li>
                                    {% if request.user.is_superuser %}
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header">Administrator section</li>
                                        <li><a href="admin/">Manage</a></li>
                                        <li><a href="{% url 'add_contractor' %}">Add contractor</a></li>
                                    {% endif %}


                                </ul>
                            </li>
                        {% else %}
                            <li><a>Viewing as Guest</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">Log in <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'login' %}">Authorise</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'signup' %}">Not our customer yet?<br>Sign up!</a></li>
                                </ul>
                            </li>
                        {% endif %}

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </div>
    </nav>

    <div class="row" style="padding-top: 70px">

        <div class="col-md-2">
            {% include view_options %}
        </div>

        <div class="col-md-7">
            {% for offer in offers %}
                {% include post_representation %}
            {% endfor %}
        </div>

        <div class="col-md-3">
            {% include ad_bar %}
        </div>
    </div>

{% endblock %}

{% block customscript %}

    {#  Script for 'new_post' template #}
    <script src="{% static 'homepage/workshop_list_modal.js' %}"></script>
{% endblock %}