{% extends 'base.html' %}
{% load static %}


{% block content %}

    {#  Navbar  #}
    <div id="navbar-container">

    </div>
    {#  Main container  #}
    <div class="row" id="main-container" style="padding-top: 70px"></div>

{% endblock %}

{% block customscript %}
    <script>
        $(document).ready(function () {
            load_content('#navbar-container', '{% url 'load_navbar' %}', {});
            load_content('#main-container', '{% url 'load_main_container' %}', {});
        });
    </script>
{% endblock %}