{% extends 'base.html' %}
{% load static %}
{% load tags %}


{% block content %}

    {#  Navbar  #}
    <div id="navbar-container">
        {% if request.user.is_authenticated and request.user.is_contractor %}
            {% include 'navbar/workshop_navbar.html' %}
        {% elif request.user.is_authenticated and request.user.is_superuser %}
            {% include 'navbar/admin_navbar.html' %}
        {% else %}
            {% include 'navbar/customer_navbar.html' %}
        {% endif %}
    </div>
    {#  Main container  #}
    <div class="row" id="main-container" style="padding-top: 70px">
{#    {% main_container %}#}
    {% if request.user.is_authenticated and request.user.is_contractor %}
        {% workshop_main_container %}
    {% elif request.user.is_authenticated and request.user.is_superuser %}
        {% admin_main_container %}
    {% else %}
        {% customer_main_container %}
    {% endif %}
    </div>

{% endblock %}