<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Copy URL below to share this offer with
            others</h4>
    </div>
    <div class="modal-body">
        <input type="text" class="form-control" id="post-url"
               value="http://www.automarket.com/post/{{ post_id }}">
    </div>
</div>