<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Technical
        Condition</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Visual Condition</a>
    </li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">{{ record.date_created }}</div>
    <div role="tabpanel" class="tab-pane" id="profile">....</div>
    <div role="tabpanel" class="tab-pane" id="messages">.....</div>
</div>