{% load static %}

<div class="modal-content">
    {% if request.user.is_authenticated %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Select one of our trusted inspection
                centers</h4>
        </div>

        <div class="modal-body" style="overflow-y: scroll; height:300px;">
            {% for contractor in contractors %}
                <div class="list-group">
                    <a href="#" class="list-group-item workshop-item" id="{{ contractor.pk }}">
                        <h4 class="list-group-item-heading">{{ contractor.title }}</h4>
                        <p class="list-group-item-text"> {{ contractor.street }}</p>
                        <p class="list-group-item-text"> {{ contractor.city }}</p>
                        <p class="list-group-item-text"> {{ contractor.phone_number }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" id="close-workshop-modal" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="submit-request-{{ post.pk }}">Select and request inspection</button>
        </div>
        </div>
    {% else %}

        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Please <a
                    href="{% url 'login' %}">login</a> or <a
                    href="{% url 'signup' 'customer' %}">register</a> to
                access this feature.</h4>
        </div>

    {% endif %}
</div>

<script>

    var selected_workshop;

    $('#{{ post.pk }}-workshop-modal').on('show.bs.modal', function (e) {
        load_content('#{{ post.offer_id }}-workshop-body', '{% url 'load_workshops_modal' %}', {'post_id': '{{ post.pk }}'});
    });


    $('.workshop-item').click(function () {
        // console.log(this);
        $(selected_workshop).removeClass('active');
        selected_workshop = this;
        $(this).addClass('active');
    });


    $('#submit-request-{{ post.pk }}').click(function () {
        if (selected_workshop == null) {
            {#console.log('nothing selected!')#}
        } else {
            $.ajax({
                url: '{% url 'request_inspection' %}',
                data: {
                    'contractor_id': selected_workshop.id,
                    'post_id': '{{ post.pk }}'
                },
                success: function (data) {
                   if (data.status === true){
                        alert('Created');
                   } else {
                       alert('Already exists');
                   }
                }
            });
        }
    });

</script>