{% load static %}

<div class="modal fade workshops" id="{{ offer.offer_id }}_inspection" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <input type="hidden" id="post-id" name="variable" value="{{ offer.offer_id }}">
    <div class="modal-dialog" role="document">
        {% if request.user.is_authenticated %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Select one of our trusted inspection
                        centers</h4>
                </div>

                <div class="modal-body" style="overflow-y: scroll; height:300px;">
                    {% for contractor in contractors %}
                        <div class="list-group">
                            <a href="#" class="list-group-item" id="{{ contractor.id }}">
                                <h4 class="list-group-item-heading">{{ contractor.title }}</h4>
                                <p class="list-group-item-text"> {{ contractor.street }}</p>
                                <p class="list-group-item-text"> {{ contractor.city }}</p>
                                <p class="list-group-item-text"> {{ contractor.phone_number }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="close-workshop-modal" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary submit-workshop-button">Select and request inspection</button>
                </div>
            </div>
        {% else %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Please <a
                            href="{% url 'login' %}">login</a> or <a
                            href="{% url 'signup' 'customer' %}">register</a> to
                        access this feature.</h4>
                </div>
            </div>

        {% endif %}
    </div>
</div>