<div class="col-md-4" id="request-list-container" style="overflow-y: scroll; height: 85vh;"></div>

<div class="col-md-8" id="edit-request-details" style="height: 85vh;"></div>

<script>
    $(document).ready(function (e) {
        {% for request_record in requestos %}
            $.ajax({
                url: '{% url 'load_request_list' %}',
                data: {'request_id': '{{ request_record.pk }}'},
                success: function (data) {
                    $('#request-list-container').append(data);
                }
            });
        {% endfor %}
    });
</script>